/* your code */
table {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	border-radius: 10px;
}

thead {
	background-color: teal;
}

tbody {
	background-color: aqua;
}

td, th {
	padding: 5px;
}
